# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# Docker
.docker/

# Databases & Logs
logs/
postgres-data/
*.log
# Data
data/raw/
quarantine/

# dbt
target/
dbt_packages/
logs/

# Otros
notas.txt
diagrama.png

.DS_Store
Thumbs.db
